<div class="admin-header mb-3">
    <div class="admin-header-left">
        <% if (search) { %>
            <%- include("../../mixins/search.ejs") %>
                <% } %>
    </div>

    <div class="admin-header-status">
        <% if (filterStatus) { %>
            <%- include("../../mixins/filterStatus.ejs") %>
                <% } %>
    </div>

    <div class="admin-header-right">
        <% if (create) { %>
            <%- include("../../mixins/createButton.ejs") %>
                <% } %>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">
        <%= title %>
    </h3>
</div>

<table class="table table-bordered table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th style="width: 60px">STT</th>
            <th>Tiêu đề</th>
            <th>Trạng thái</th>
            <th style="width: 300px" class="text-center">Ngày tạo</th>
        </tr>
    </thead>
    <tbody>
        <% for( let i=0; i < allPost.length ; i++){ %>
            <tr>
                <td>
                    <%= ( objectPagination.currentPage - 1 ) *  objectPagination.limitItems + i + 1 %>
                </td>
                <td>
                    <strong>
                        <%= allPost[i].title %>
                    </strong>
                </td>
                <td>
                    <%= allPost[i].status==="published" ?"Đã duyệt":"Nháp" %>
                </td>
                <td>
                    <%= allPost[i].formattedDate %>
                </td>
                <td class="text-center">
                    <div class="d-inline-flex gap-1">
                        <%- include("../../mixins/detailButton.ejs", { id: allPost[i]._id }) %>
                            <%- include("../../mixins/editButton.ejs", { id: allPost[i]._id }) %>

                                <%- include("../../mixins/deleteButton.ejs", { id: allPost[i]._id }) %>
                    </div>
                </td>
            </tr>
            <% } %>

    </tbody>
</table>
<%- include("../../mixins/pagination.ejs") %>
